.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.todocont{
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.more{
    display: flex;
    flex-direction: row;
}
.m1{
    width: 14vw;
    padding: 1vh;
    border: none;
    background-color: rgba(255, 255, 255, 0.664);
    font-size: 2vh;
    color: rgb(0, 0, 0);
    margin-left:1vh ;
    margin-top: 1vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    width: 30vw;
    margin-right: 2vh;
    padding: 2vh 0 1vh 3vh;
    border-radius: 2vh;
    border: none;
    background-color: rgba(255, 255, 255, 0.664);
    font-size: 3vh;
    color: rgb(0, 0, 0);
}

@media (max-width:800px) {
    .text{
        width: 50vw;
    }    
}

.icon1,.icon2{
    height: 3vh;
    width: 3vh;
    color: rgba(0, 0, 0, 0.667);
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.386);
    border-radius: 3vh;
    margin: 0.5vh;
}

.title{
    color: rgb(118, 118, 118);
    font-size: 1.7vh;
}

@media (max-width:800px) {
.icon1,.icon2{
    border-radius: 1vh;
}
.m1{
    flex-direction: column;
    text-align: center;
    width: 18vw;
}
}

.icons{
    color: rgb(0, 0, 0);
    border-radius: 3vh;
    text-align: center;
}
@media (max-width:800px) {
    .icons{
        display: flex;
        flex-direction: column;
    }
    }

.info{
    background-color: rgba(255, 255, 255, 0.311);
    padding: 2vh;
    border-radius: 3vh;
}


::placeholder {
    border: none;
  }